.score-active-facets {
    &:extend(.default-active-facets all); //inherit default SCORE styles
    & > div {

    }
    .score-facet-tag {

        &:hover {

        }
    }
    .icon {

    }
    .clear-all {

    }
    .facets {
        .score-facet-tag {
            
        }
    }
}