﻿@using Score.Data.Const
@using Sitecore.Mvc.Analytics.Extensions
@model Score.Data.ViewModels.Base.ContentPage
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1, user-scalable=no" />

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageMetaData, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageHeaderScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteHeaderScripts, new { Cacheable = true })

    <link href="@Url.Content("~/Areas/MySite/css/main.css")" rel="stylesheet"/>

    @if (Score.Data.Utils.ExperienceEditorMode.IsEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/MySite/css/page_editor.css")" rel="stylesheet" />
    }

    <script src="@Url.Content("~/Areas/MySite/js/vendor/modernizr.2.6.2.min.js")"></script>

    @Html.Sitecore().VisitorIdentification()
</head>
<body class="@Model.BodyClass">
    @Html.Sitecore().Placeholder("Above Page Content")
    <div class="@ScoreStyles.PageWrapper">
        @Html.Sitecore().Placeholder("Page Content")
    </div>
    @Html.Sitecore().Placeholder("Below Page Content")

    <!-- Placed at the end of the document so the pages load faster -->
    @foreach (var area in new[] { "ScoreCCF", "ScoreBootstrapUI", "MySite" })
    {
        <script src="@Url.Content("~/Areas/" + area + "/js/require.config.js")" type="text/javascript"></script>
    }
    <script src="@Url.Content("~/Areas/ScoreCCF/js/Vendor/require.js")" data-main="/Areas/MySite/js/main.js" type="text/javascript"></script>

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageFooterScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteFooterScripts, new { Cacheable = true })

</body>
</html>
